
<ion-menu contentId="main-content" >
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

      <ion-menu-toggle>
        <ion-item (click)="openCart()">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Ver carrito</ion-label>
        </ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle>
        <ion-item routerLink="/cupones">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>cupones</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/reservas">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>Historial de compras</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/inicio-sesion">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Salir</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>

</ion-menu>





<ion-content id="main-content" class="contenidoConciertos">

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Cupones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="conciertos-list">

    <ion-list-header class="header">
      <ion-label>Estos son los cupones disponibles!</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select [(ngModel)]="categoriaSeleccionada" (ionChange)="filtrarCupones()">
        <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.nombre">{{ categoria.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>


    <div *ngFor="let cupon of cuponesFiltrados" class="content-wrapper" (click)="comprarEntradas(cupon)">
      <ion-thumbnail>
        <img [alt]="cupon.nombre" [src]="cupon.imagenUrl" />
      </ion-thumbnail>

      <ion-label>

        <h1>{{ cupon.nombre }}</h1>
        <p>{{cupon.nombreCategoria}}</p>

        <div class="precioCupon">
          <p>₡{{ cupon.descuento == 0 ? cupon.precio : cupon.precioConDescuento }}</p>
          <p>{{ cupon.descuento }}%</p>
        </div>

        <div class="precioCuponSinDescuento">
          <p class="textoSecCupon">₡{{ cupon.precio }}</p>
          <p class="textoSecCupon">Desc.</p>
        </div>

        <div class="fechasExpCupon">
          <p>Exp Cupon: {{ cupon.fechaCaducado }}</p>
          <p *ngIf="cupon.descuento != 0"> Exp Promoción: {{ cupon.fechaCaducidadPromocion }}</p>
        </div>

      </ion-label>
      
    </div>
    
  </ion-list>

</ion-content>

</ion-content>