<ion-header>
  <ion-toolbar>
    <ion-title>Carrito de Compras</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let cupon of cupones">
      <ion-thumbnail slot="start">
        <img [src]="cupon.imagenUrl" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ cupon.nombre }}</h2>
        <p>Precio:  ₡{{ cupon.descuento == 0 ? cupon.precio : cupon.precioConDescuento }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <h2>Total: ₡{{ total }}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary" (click)="realizarCompra()">Realizar Compra</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="limpiarCarrito()">Limpiar Carrito</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
